@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans&display=swap');
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
body {
    font-size: 100%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Architects Daughter', cursive;
}
/*** navbar ***/
.nav-item :active {
    color: #336970 !important;
}
.nav-item :hover {
    color: #336970 !important;
}
a.nav-link.active {
    color: #336970 !important;
    text-transform: uppercase;
}
#navbarSupportedContent {
    min-height: 94.4vh;
    width: 100%;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
    background-color: #2B2B2B !important;
    opacity: 85%;
}
a.nav-link {
    color: white !important;
    text-align: center;
    background-color: grey;
    border: 2px groove white;
    border-radius: 71px 71px 71px 71px;
    width: 90%;
    height: 40px;
    margin: auto;
    margin-bottom: 15px;
}
ul.navbar-nav.ml-auto {
    margin-top: 30px;
}
#logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
/* button navbar */
button.navbar-toggler.collapsed {
    margin-right: 9px;
    margin-top: 12px;
    background: #0f0e0e;
    width: 45px;
    height: 33px;
    border: 1px solid grey !important;
    border-radius: 20%;
}
button.navbar-toggler {
    margin-right: 9px;
    margin-top: 12px;
    background: #0f0e0e;
    width: 45px;
    height: 33px;
    border: 1px solid grey !important;
    border-radius: 20%;
}
.hamburger-inner {
    display: block;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -7px;
}
.hamburger-inner::after {
    bottom: -7px;
}
/* /button navbar */
p.tel {
    color: white;
    font-size: 0.8rem;
    margin-top: 25px;
    margin-left: -150px;
}
.textnav.text-center {
    color: white;
    font-size: 0.8rem;
}
div.textnav.text-center p {
    margin: 5px;
}
.vert {
    color: greenyellow;
}
header {
    background: url(media/home2.jpg) 80% fixed;
    min-height: 100vh;
}
@media screen and (min-width : 700px) {
    header {
        background: url(media/homeDesktop2.jpg) fixed 100% 50%;
    }

    #navbarSupportedContent {
        min-height: 1vh;
        width: 100%;
    }

    .textnav.text-center {
        display: none;
    }

    a.nav-link {
        background: none;
        border: 0px;
        margin-right: 20px;
        font-weight: bold;

    }

    p.tel {
        margin: 0;
        margin-bottom: 5px;
    }

    ul.navbar-nav.ml-auto {
        margin-bottom: 10px;
    }

    img#logo {
        margin: 0;
        margin-bottom: 5px;
        margin-left: 20px;
    }
}
/* white Arrow */
.box {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.box span:nth-child(2) {
    animation-delay: -0.2s;
    transform: rotate(45deg) translate(-20px, -20px);
}
.box span:nth-child(3) {
    animation-delay: -0.4s;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
/* /white Arrow */
div#logoArrow {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Qui somme nous */
#quisommenous {
    width: 100%;
    min-height: 100vh;
    background-color: #2B2B2B;
    opacity: 85%;
    padding: 20px;
}
#imgabout {
    border: 2px solid white;
    border-radius: 50%;
}
.container-fluid {
    min-height: 100vh;
}
.row {
    min-height: 100vh;
}
@media screen and (min-width : 700px) {
    #quisommenous {
        padding: 0px;
    }
    #imgabout {
        display: none;
    }

    .col-12.col-md-6 {
        padding: 0;
    }

    .col-12.col-md-6.imgabout {
        background: url(media/aboutDesktop.jpg) 100% fixed;
    }
    .box1 {
        position: absolute;
        top: 192%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .box1 span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .box1 span:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    .box1 span:nth-child(3) {
        animation-delay: -0.4s;
    }
}

/* /Qui somme nous */
/* carousel */
a.carte.btn.btn-default{
    background-color: #2B2B2B;
    opacity: 85%;
    color: white;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
}
a.carte.btn.btn-default:hover {
    background-color: #336970 !important;
}
img.imgcaroussel {
    width: 100%;
    height: 100vh;
}
#carouselExemple1 {
    display: none;
}
.carousel-caption.trickcenter {
    height: 100vh;
}
.textburgers h3 {
    font-size: 2.5rem;
    text-shadow: 5px 3px 2px rgb(0, 0, 0);
}
.textburgers {
    padding-top: 200px;
}
h2.burgersPhares {
    font-size: 3rem;
    margin-top: 50px;
    text-shadow: 5px 3px 2px rgb(0, 0, 0);
}
@media screen and (min-width: 700px) {
    #carouselExemple {
        display: none;
    }

    #carouselExemple1 {
        display: table;
    }
    .box2 {
        position: absolute;
        top: 292%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100000;
    }
    .box2 span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .box2 span:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    .box2 span:nth-child(3) {
        animation-delay: -0.4s;
    }
}
/* /carousel */
/* Bar */
#bar {
    width: 100%;
    min-height: 100vh;
    background-color: #2B2B2B;
    opacity: 85%;
    padding : 20px;
}
#imgbar {
    border: 2px solid white;
    border-radius: 50%;
}
@media screen and (min-width : 700px) {
    #bar {
        padding: 0px;
    }
    #imgbar {
        display: none;
    }

    .col-12.col-md-6.bar {
        background: url(media/barDesktop.jpg) fixed;
    }
    .box3 {
        position: absolute;
        top: 392%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .box3 span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .box3 span:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    .box3 span:nth-child(3) {
        animation-delay: -0.4s;
    }
}

/* /Bar */
/* petit-déj */
#petitdej {
    width: 100%;
    min-height: 100vh;
    background-color: #2B2B2B;
    opacity: 85%;
    padding: 20px;
}
.containerdej {
    background-color: #707070;
    width: 250px;
    height: 200px;
    border: 1px solid #fff;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ou {
    margin-top: 50px;
}
.col-12.col-md-6.imgdej {
    display: none;
}

@media screen and (min-width : 700px) {
    #petitdej {
        padding: 0px;
    }
    .col-12.col-md-6.imgdej {
        display: inline;
        background: url(media/petitdéjDesktop.jpg) 100% fixed;
    }

    .formules {
        display: flex;
    }

    .col-12.col-md-6.text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ou {
        margin-top: 130px;
    }  
    #petitdej {
        border-bottom: 1px solid white;
    }
    .box4 {
        position: absolute;
        top: 492%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .box4 span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .box4 span:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    .box4 span:nth-child(3) {
        animation-delay: -0.4s;
    }
}
@media screen and (min-width : 1400px) {
    h3.borderformules::after {
        content: "";
        box-sizing: border-box;
        background-color: white;
        width: 30%;
        height: 1px;
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
    }

    h3.borderformules::before {
        content: "";
        box-sizing: border-box;
        background-color: white;
        width: 30%;
        height: 1px;
        position: absolute;
        margin-top: 20px;
        margin-left: -32.2%;
    }

    .ou::after {
        content: "";
        box-sizing: border-box;
        background-color: white;
        position: absolute;
        width: 1px;
        height: 13%;
        margin-top: 4%;
        margin-left: -1%;
    }

    .ou::before {
        content: "";
        box-sizing: border-box;
        background-color: white;
        position: absolute;
        width: 1px;
        height: 11%;
        margin-top: -11.5%;
        margin-left: 1.6%;
    }

    .formules::before {
        content: "";
        box-sizing: border-box;
        background-color: white;
        position: absolute;
        width: 87%;
        height: 1px;
        margin-top: 40%;
        margin-left: 7%;
    }

    .formules::after {
        content: "";
        box-sizing: border-box;
        background-color: white;
        position: absolute;
        width: 1px;
        height: 35%;
        margin-left: 3%;
        margin-top: 1.7%;
    }

    .borduredej::after {
        content: "";
        box-sizing: border-box;
        background-color: white;
        position: absolute;
        width: 1px;
        height: 35%;
        margin-left: -3%;
        margin-top: 1.2%;
    
    }
}
/* /petit-déj */
/* Evènements */
#evenements {
    width: 100%;
    min-height: 100vh;
    background-color: #2B2B2B;
    opacity: 85%;
    padding: 20px;
}
img.img-fluid.evenements {
    border: 1px solid white;
}
.col-12.col-md-2.dis.text-center {
    display: none;
}
.col-12.col-md-2.dis1.text-center {
    display: none;
}
@media screen and (min-width : 768px) {
    #evenements {
        padding: 0px;
    }

    .col-12.col-md-2.text-center.evenbleu {
        min-height: 100vh;
        color: black;
        background-color: #336970;
        opacity: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-12.col-md-2.text-center.evenbleu h2 {
        transform: rotate(270deg);
        font-size: 4.5rem;
        margin-top: 100px;
    }

    .col-md-8.d-flex.align-items-md-center.justify-content-md-around {
        min-width: 80%;
    }

    img.img-fluid.evenements {
        min-width: 200px;
    }

    .col-12.col-md-2.dis1.text-center::after {
        content: "";
        background-color: white;
        position: absolute;
        width: 450%;
        height: 1px;
        margin-top: -60%;
        margin-left: -310%;
    }

    .col-12.col-md-2.dis1.text-center::before {
        content: "";
        background-color: white;
        position: absolute;
        width: 1px;
        height: 310%;
        margin-top: -75%;
        margin-left: 70%;
    }
    .box5 {
        position: absolute;
        top: 592%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .box5 span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .box5 span:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    .box5 span:nth-child(3) {
        animation-delay: -0.4s;
    }
}
@media screen and (max-width : 700px) {
    .col-12.col-md-2.text-center {
        max-height: 45%;
    }
}
@media screen and (min-width : 1400px) {
    .col-12.col-md-2.dis.text-center {
        display: table;
    }

    .col-12.col-md-2.dis1.text-center {
        display: table;
    }
}
/* /Evènements */
/* contact */
#contact {
    width: 100%;
    min-height: 100vh;
    background-color: #2B2B2B;
    opacity: 85%;
}
.col-12.col-md-6.form {
    background: url(media/form.jpg) fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#mapid {
    min-height: 50vh;
    width: 100%;
}
input {
    background-color: #2B2B2B !important;
    opacity: 60%;
    color: white !important;
    border: 1px solid white;
    width: 100% !important;
}
input:hover {
    border: 1px solid #336970 !important;
}
textarea:hover {
    border: 1px solid #336970 !important;
}
textarea {
    background-color: #2B2B2B !important;
    opacity: 60%;
    color: white !important;
    border: 1px solid white;
    width: 100% !important;
    padding: 10px;
}
::placeholder {
    color: white !important;
}
button.btn.btn-primary.form {
    background-color: #2B2B2B !important;
    color: white !important;
    border: 1px solid white;
    border-radius: 24px 24px 24px 24px;
    width: 100px;
    /* margin-left: 33%; */   
}
button.btn.btn-primary.form:hover {
    background-color: #336970 !important;
}
form {
    width: 80%;
}
.bouton {
    display: flex;
    justify-content: center;
}
@media screen and (min-width : 700px) {
    #mapid {
        min-height: 100vh;
        width: 100%;
    }

    .col-12.col-md-6.form {
        background: url(media/form.jpg) -10% fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    form {
        width: 50%;
    }
    button.btn.btn-primary.form {
        width: 200px;
    }
    .box6 {
        position: absolute;
        top: 692%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .box6 span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .box6 span:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    .box6 span:nth-child(3) {
        animation-delay: -0.4s;
    }
}
/* /contact */
/* Footer */
footer {
    background-color: black;
}
.col-12.text-center.contact {
    height: 15vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.linkcontact {
    color: white !important;
}
@media screen and (min-width : 700px) {
    footer {
        max-height: 62vh !important;
    }

    .row.footer {
        min-height: 60vh;
    }

    .container-fluid.footer {
        min-height: 60vh;
    }
    .box7 {
        position: absolute;
        top: 753%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotate(180deg);
    }
    .box7 span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .box7 span:nth-child(2) {
        animation-delay: -0.2s;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    .box7 span:nth-child(3) {
        animation-delay: -0.4s;
    }
}
/* /footer */
/* petite modif et debug sur responsive tablette et mobile */
@media screen and (max-width : 749px) {
    .col-12.col-md-2.text-center.evenbleu {
        background-color: #336970 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
    }
    .col-12.col-md-8.d-flex.flex-column.flex-md-row.align-items-md-center.justify-content-md-around {
        margin-top: 20px;
    }
}
@media screen and (min-width : 576px) and (max-width : 767px) {
    .col-12.col-md-2.text-center.evenbleu {
        background-color: #336970 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
    }
    .col-12.col-md-8.d-flex.flex-column.flex-md-row.align-items-md-center.justify-content-md-around {
        margin-top: 20px;
    }
    .box1 {
        display: none;
    }
    .box2 {
        display: none;
    }
    .box3 {
        display: none;
    }
    .box4 {
        display: none;
    }
    .box5 {
        display: none;
    }
    .box6 {
        display: none;
    }
    .box7 {
        display: none;
    }
    footer {
        min-height: 100vh;
    }
    .col-12.col-md-6.imgabout{
        min-height: 50vh;
    }
    .col-12.col-md-6.bar{
        min-height: 50vh;
    }
    .col-12.col-md-6.imgdej {
        min-height: 50vh;
    }
    .col-12.col-md-6.text-center {
        padding: 20px;
    }
    div#mapid {
        min-height: 40vh;
    }
}
@media screen and (max-width : 699px) {
    section#petitdej {
        background: url(media/petitdéjDesktop.jpg) fixed;
    } 
}
